/* Styles go here */

div.bar {
  display: inline-block;
  width: 5px;
  height: 75px;
  /* Gets overriden by D3-assigned height below */
  margin-right: 1px;
  background-color: teal;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}